/*
#faa41a
#a7a9ac
#d9d9d9
#ffbd59
*/
:root {
    --primary-orange: #faa41a;
    --darker-gray: #a7a9ac; 
    --lighter-gray: #d9d9d9;
    --secondary-orange: #ffbd59;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.retangulo-atras {
    background-color: var(--secondary-orange);
    border-radius: 10px;
    margin: 10px;
    padding: 10px 50px;
    padding-bottom: 50px;
}

.retangulo-atras:hover {
    background-color: var(--primary-orange);
    transition: 2s;
}

.retangulo-atras:not(:hover){
    transition: 10s;
}

.titulo {
    font-size: 50px;
    color: black;
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    font-family: Arial;
    box-shadow: rgb(51, 51, 51) 2px 3px 5px;
}

.formulario {
    position: fixed;
    background-color: var(--lighter-gray);
    border-radius: 8px;
    padding: 25px 190px;
    z-index: 0;
}

.perguntas {
    margin: 5px;
    font-size: 20px;
    font-family: Arial;
    font-weight: 700;
    width: 240px;
}

.botao-confirmar {
    background-color: aqua;
    border-color: var(--primary-orange);
    border-width: 2px;
    margin: 3px;
}

.botao-cancelar {
    background-color: lightcoral;
    border-color: var(--primary-orange);
    border-width: 2px;
    margin: 3px;
}

#seu-nome__nome {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 10px;
    border-width: 0;
    font-size: 15px;
}

button:hover {
    background-color: var(--secondary-orange);
    color: white;
    transition: 1s;
}

button:not(:hover) {
    transition: 1s;
}

.lista_de_tarefas,
.seu-nome,
.curiosidades {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 3px;
    width: 40vw;
    font-family:'Lucida Sans';
    box-shadow: rgb(51, 51, 51) 2px 3px 5px;
}

.titulo:hover,
.lista_de_tarefas:hover,
.seu-nome:hover,
.curiosidades:hover {
    animation-name: hoveringBoxes;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* animation: hoveringBoxes 1s linear forwards; */
    /* box-shadow: rgb(51, 51, 51) 2px 3px 5px;
    transform: translate(-2px, -3px); */
}

.curiosidades {
    display: flex;
    flex-direction: column;
}

#lista_de_tarefas__botao {
    margin-bottom: 8px;
}

.nome,
.linguagem,
.curso,
.idade {
    margin-bottom: 12px;
}

.nome:hover,
.linguagem:hover,
.curso:hover,
.idade:hover {
    /* font-weight: 900; */
    animation: hoveringP 5s linear;
    animation-fill-mode: forwards;
}

@keyframes hoveringBoxes {
    50% {
        box-shadow: rgb(51, 51, 51) 6px 9px 15px;
        transform: translate(-4px, -6px);
    } 100% {
        box-shadow: rgb(51, 51, 51) 4px 6px 10px;
        transform: translate(-2px, -3px);
    }
}

@keyframes hoveringP {
    0% {
        font-weight: 100;
    }
    25% {
        font-weight: 300;
        font-size: 16px;
    }
    50% {
        font-weight: 500;
        font-size: 17px;
    }
    75% {
        font-weight: 700;
        font-size: 18px;
    }
    100% {
        font-weight: 900;
        font-size: 19px;
    }
}

input {
    padding: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-color: var(--primary-orange);
    font-size: 15px;
}

li {
    font-size: 20px;
}